<html>
<head>
<%- include req %>
<title> New Character </title>
</head>
<body>
<%- include header %>
<div id = "info">
<%- form_tag('/char/params', {role : "form", class:"form-inline", id:"create_char_form"}) %>
    <%- label_for('name') %>
    <%- text_field_tag('name', {class : "form-control",placeholder:"Character name"}) %>
    <% if(err) { %>
        <div id = "name-err">
        <% if(err == 1) { %>
            Name must be 5-15 characters of lowercase and numbers
        <% } else if(err == 2) { %>
            Name is already taken
        <% } %>
        </div>
    <% } %>
    <%- label_for('type') %>
    <%- select_tag('type', allowed_types, {class : "form-control"}) %>
    <br>
    <%- submit_tag('create', {class:"btn btn-lg btn-primary"}) %>
<%- form_end_tag() %>
</div>
</body>
</html>
