<html lang="en">
<head>
	<title>Documentation</title>
	<%- include req %>
</head>
<body>
	<%- include header %>
	<br />
	<div class="container">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a href="#intro" data-toggle = "tab">Introduction</a></li>
			<li><a data-toggle="tab" href="#api">API</a></li>
			<li><a data-toggle="tab" href="#examples">Examples</a></li>
			<li><a data-toggle="tab" href="#snapshot">Snapshots</a></li>
		</ul>
		<div class = "tab-content">
			<div id = "intro" class = "tab-pane fade in active"><%- intro %></div>
			<div id = "api" class = "tab-pane fade in "><%- api %></div>
			<div id = "examples" class = "tab-pane fade in "><%- examples %></div>
			<div id = "snapshot" class = "tab-pane fade in "><%- snapshot %></div>	
		</div>
	  </ul>
	</div>
</body>
</html>
