<html lang="en">
<head>
	<title>Documentation</title>
	<%- include req %>
</head>
<body>
	<nav id = "header" class = "navbar navbar-default">
	    <div class = "navbar-header">
	        <a id = "event-name" class = "navbar-brand" href = "/">Code Character </a>
	    </div>
	    <ul class = "nav navbar-nav">
	        <li><a href = "/docs/">Docs</a></li>
	        <li><a href = "/leaderboard">Leaderboard</a></li>
	    <% if(user) { %>
	        <li><%- link_to(user.pid, '/u/' + user.pid) %></li>
	    <% } %>
	    </ul>
	</nav>
	<br />
	<div class="container">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a href="#intro" data-toggle = "tab">Introduction</a></li>
			<li><a data-toggle="tab" href="#api">API</a></li>
			<li><a data-toggle="tab" href="#examples">Examples</a></li>
			<li><a data-toggle="tab" href="#update">Update</a></li>
		</ul>
		<div class = "tab-content">
			<div id = "intro" class = "tab-pane fade in active"><%- intro %></div>
			<div id = "api" class = "tab-pane fade in "><%- api %></div>
			<div id = "examples" class = "tab-pane fade in "><%- examples %></div>
			<div id = "update" class = "tab-pane fade in "><%- update %></div>	
		</div>
	  </ul>
	</div>
</body>
</html>