<html>
<head>
<title> Edit Character </title>
<%- include req %>
<script src = "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
<script src = "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/mode-javascript.js"></script>
<script src = "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/theme-chrome.js"></script>
<style type="text/css" media="screen">
    #editor { 
        width: auto;
        height: 400;
    }
</style>
</head>
<body>
<%- include header %>
<center>
    <h2> <%- link_to(char.name, '/c/' + char.name) %> </h2>
    </center>
<div id = "editor" autofocus><%= char['code'][0] %>
<%= char['code'][1] %></div>
<center>
    <div id = "flag-div">
    <% if(char.passed) { %>
        <div style = "color: green;">
            <b> Passed </b>
        </div>
    <% } else { %>
        <div style = "color: red;">
            <b> Failed </b>
        </div>
    <% } %>
    </div>
    <div id = "save-div">
        Saved
    </div>
    <div id = "buttons">
        <%- js_button('Save', 'save', { id: 'save-button' }) %>
    </div>
</center>
<script src = "/edit_build.js"></script>
</body>
</html>
