<html>
<head>
<title> Edit Character </title>
<%- include req %>
<script src = "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
<script src = "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/mode-javascript.js"></script>
<script src = "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/theme-chrome.js"></script>
<style type="text/css" media="screen">
    #editor { 
        width: 900;
        height: 400;
    }
</style>
</head>
<body>
<%- include header %>
<div id = "char-info">
    <li> <%- link_to(char.name, '/c/' + char.name) %> </li>
</div>
<div id = "flag-div">
    <% if(char.passed) { %>
        OK
    <% } else { %>
        FAIL
    <% } %>
</div>
<div id = "save-div">
    saved
</div>
<div id = "editor" autofocus><%= char.code %></div>
<div id = "buttons">
    <%- js_button('Save', 'save', { id: 'save-button' }) %>
</div>
<script src = "/edit_build.js"></script>
</body>
</html>
