<html>
<head>
<title> Edit Character </title>
<%- include req %>
<script src = "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
<script src = "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/mode-javascript.js"></script>
<script src = "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/theme-chrome.js"></script>
<style type="text/css" media="screen">
    #editor { 
        width: 600;
        height: 400;
    }
</style>
</head>
<body>
<%- include header %>
<div id = "char-info">
    <li> <%- link_to(char.name, '') %> </li>
</div>
<div id = "flag"></div>
<div id = "editor"><%= char.code %></div>
<div id = "buttons">
    <%- js_button('Save', 'save', { id: 'save-button' }) %>
    <%- js_button('Test', 'test', { id: 'test-button' }) %>
</div>
<script src = "/edit_build.js"></script>
</body>
</html>
