<html>
<head>
<%- include req %>
<title> Character <%= char.name %> </title>
</head>
<body>
<%- include header %>
<center> <h2> <%= char.name %> </h2> </center>
<div class = "container centered ">
    <div id = "about" class = "col-lg-4 well">
        <h3> About </h3>
        <ul>
            <li> <b>State:</b>  <%= (isRested(char)) ? 'Rested' : 'Tired' %> </li>
            <li> <b>Class:</b> <%= char.type %> </li>
            <li> <b>Exp:</b> <%= char.experience %> </li>
            <li> <b>Owner:</b> <%- link_to(char.owner.pid, '/u/' + char.owner.pid) %> </li>
            <li> <b>Created:</b> <%- format_date_t(char.creation)%> </li>
        </ul>
    </div>
    <% if(user) { %>
    <% var isOwner = char.owner._id.equals(user._id) %>
    <% if(isOwner) { %>
    <div id = "edit" class = "col-lg-4 well">
        <center>
            <h3> Code </h3>
        <% if(char.passed) { %>
            <div style = "color: green;">
                <b> Tests passed </b>
            </div>
        <% } else { %>
            <div style = "color: red;">
                <b> Failed tests. Fix! </b>
            </div>
        <% } %>
        <br />
            <%- button_to('Edit', '/c/' + char.name + '/edit', { class: "btn btn-info" }) %>
        </center>
    </div>
    <% } %>
    <% if(user && char.passed) {%>
    <div id = "actions" class = "col-lg-4 well">
        <h3> Actions </h3>
            <% var char_opts = valify(user.chars, char); %>
            <% if(isOwner) { %>
                    <%- form_tag('/c/' + char.name + '/train' ) %>
                    <%- label_for('level') %>
                    <%- select_tag('level', train_level, { class: "form-control" }) %>
                    <%- label_for('map') %>
                    <%- select_tag('map', allowed_maps, { class: "form-control" }) %>
                    <br />
                    <%- submit_tag('Train', { class: "btn btn-success" }) %>
                    <%- form_end_tag() %>
                <% } else if(char_opts.length > 0) { %>
                    <%- form_tag('/c/' + char.name + '/challenge') %>
                    <%- label_for('level') %>
                    <%- select_tag('level', vs_level, { class: "form-control" }) %>
                    <%- label_for('uchar', 'Challenge with') %>
                    <%- select_tag('uchar', valify(user.chars, char), { class: "form-control" }) %>
                    <br />
                    <%- submit_tag('Challenge', { class: "btn btn-success" }) %>
                    <%- form_end_tag() %>
                <% } else { %>
                    None of your characters are able to fight this character
                <% } %>
            <% } %>
    </div>
    <% } %>
    <% if(char.matches.length > 0) { %>
    <div id = "recent-matches" class = "col-lg-4 well">
        <h3> Matches </h3>
        <% char.matches.forEach(function(match) { %>
		<canvas class="mini-replay"></canvas>
        <% if(match.type == 'train') { %>
            <div class = "train overlay">
                <%- link_to('training', '/m/' + match._id) %>
            </div>
        <% } else { %>
            <% var outcome; %>
            <% if(!match.result) { %>
                <% outcome = 'draw' %>
            <% } else { %>
                <% outcome = (match.result.equals(char._id)) ? 'win' : 'lose'; %>
            <% } %>
            <div class = "match-<%= outcome %> overlay">
                <%- link_to(outcome, '/m/' + match._id) %> 
            </div>
        <% } %>
        <% }) %>
    </div>
    </div>
    <% } %>
	<script id="matches-json" type="application/json">
		<%- JSON.stringify(char.matches) %>
	</script>
	<script type="text/javascript" src="/results_simulation.js"></script>
</body>
</html>
