<html>
<head>
<%- include req %>
<title> Character <%= char.name %> </title>
<% var swarm_action = '/c/' + char.name + '/train' %>
</head>
<body>
<%- include header %>
<center> <h2> <%= char.name %> </h2> </center>
<div class = "container centered ">
    <div id = "about" class = "col-lg-4 well">
        <h3> About </h3>
        <ul>
            <li> <b>State:</b>  <%= (isRested(char)) ? 'Rested' : 'Tired' %> </li>
            <li> <b>Class:</b> <%= char.type %> </li>
            <li> <b>Exp:</b> <%= char.experience %> </li>
            <li> <b>Owner:</b> <%- link_to(char.owner.pid, '/u/' + char.owner.pid) %> </li>
            <li> <b>Created:</b> <%- format_date_t(char.creation)%> </li>
        </ul>
    </div>
    <% if(user) { %>
    <% var isOwner = char.owner._id.equals(user._id) %>
    <% if(isOwner) { %>
    <div id = "edit" class = "col-lg-4 well">
        <center>
            <h3> Code </h3>
        <% if(char.passed) { %>
            <div style = "color: green;">
                <b> Tests passed </b>
            </div>
        <% } else { %>
            <div style = "color: red;">
                <b> Failed tests. Fix! </b>
            </div>
        <% } %>
        <br />
            <%- button_to('Edit', '/c/' + char.name + '/edit', { class: "btn btn-info" }) %>
        </center>
    </div>
    <% } %>
    <% if(user && char.passed) {%>
    <div id = "actions" class = "col-lg-4 well">
        <h3> Actions </h3>
            <% var char_opts = valify(user.chars, char); %>
            <% if(isOwner) { %>
                    
                    <form method = "post" action = "<%='/c/' + char.name + '/train'%>" id = "action_form" >
                        <label for="level"></label>
                        <select form="action_form" class = "form-control" name="level" id = "level"  >
                            <% train_level.forEach(function(val){ %>
                                <option value = "<%= val.value %>" id = "<%= val.text %>" ><%= val.text %></option>
                            <% }); %>
                        </select>
                        <label for="uchar" id="char_label" ></label>
                        <select form="action_form" class = "form-control" name="uchar" id = "uchar_self" >
                            <option value="">--Select--</option>
                            <% charNameList.forEach(function(val){ %>
                                <option value = "<%= val.value %>" id = "<%= val.text %>"  ><%= val.text %></option>
                            <% }); %>
                        </select>
                        <span style="color:red;" id="error_msg" ></span>
                    <br />
                    <input type="submit" id="train" class="btn btn-success" ></input>
                    </form>

                <% } else if(char_opts.length > 0) { %>
                    <%- form_tag('/c/' + char.name + '/challenge') %>
                    <%- label_for('level') %>
                    <%- select_tag('level', vs_level, { class: "form-control" }) %>
                    <%- label_for('uchar', 'Challenge with') %>
                    <%- select_tag('uchar', valify(user.chars, char), { class: "form-control" }) %>
                    <br />
                    <%- submit_tag('Challenge', { class: "btn btn-success" }) %>
                    <%- form_end_tag() %>
                <% } else { %>
                    None of your characters are able to fight this character
                <% } %>
            <% } %>
    </div>
    <% } %>
	<br>
    <% if(char.matches.length > 0) { %>
    <div id = "recent-matches" class = "col-lg-4 well">
        <h3> Matches </h3>
        <% char.matches.forEach(function(match) { %>
		<div class="container-sim">
		<canvas class="mini-replay"></canvas>
		<a href="/m/<%= match._id %>">
		<div class = "overlay">
        <% if(match.type == 'train') { %>
			<div class = "match-train match-text">
				<span class = "date-text"><%= format_date_t(match.when) %></span><br>
				<span class = "outcome-text">SWARM</span><br>
				<span class = "round-text">Defending...</span>
			</div>
        <% } else { %>
            <% var outcome; %>
            <% if(!match.result) { %>
                <% outcome = 'draw' %>
            <% } else { %>
                <% outcome = (match.result[0].equals(char._id)) ? 'WON' : 'LOST'; %>
            <% } %>
            <div class = "match-<%= outcome %> match-text">
				<span class = "date-text"><%= format_date_t(match.when) %></span><br>
				<span class = "outcome-text"><%- outcome %></span><br> 
				<% if (char._id.equals(match.contenders[0])) { %>
					<span class = "round-text">Defending...</span>
				<% } else { %>
					<span class = "round-text">Attacking...</span>
				<% } %>
            </div>
        <% } %>
		</div>
		</a>
		</div>
		<div class="container-sim">
		<canvas class="mini-replay"></canvas>
		<a href="/m/<%= match._id %>">
		<div class = "overlay">
        <% if(match.type == 'train') { %>
			<div class = "match-train match-text">
				<span class = "date-text"><%= format_date_t(match.when) %></span><br>
				<span class = "outcome-text">SWARM</span><br>
				<span class = "round-text">Attacking...</span>
			</div>
        <% } else { %>
            <% var outcome; %>
            <% if(!match.result) { %>
                <% outcome = 'draw' %>
            <% } else { %>
                <% outcome = (match.result[1].equals(char._id)) ? 'WON' : 'LOST'; %>
            <% } %>
            <div class = "match-<%= outcome %> match-text">
				<span class = "date-text"><%= format_date_t(match.when) %></span><br>
				<span class = "outcome-text"><%- outcome %></span><br>
				<% if (char._id.equals(match.contenders[0])) { %>
					<span class = "round-text">Attacking...</span>
				<% } else { %>
					<span class = "round-text">Defending...</span>
				<% } %>
            </div>
        <% } %>
		</div>
		</a>
		</div>
		<br>
        <% }) %>
    </div>
    </div>
    <% } %>
	<script id="matches-json" type="application/json">
		<%- JSON.stringify(char.matches) %>
	</script>
	<script type="text/javascript" src="/results_simulation.js"></script>
    
    <script>
        (function(){
            var level = document.getElementById('level'),
                chars = document.getElementById('uchar_self'),
                char_label = document.getElementById('char_label'),
                action_form = document.getElementById('action_form'),
                error_msg = document.getElementById('error_msg');
            
            level.addEventListener('change', levelCb, false);
            chars.addEventListener('change', charCb, false);
            function levelCb(){
                if (level.selectedOptions[0].value == "char"){
                    action_form.action = location.pathname + "/challenge"
                    chars.style.display = "block";
                    char_label.style.display = "block";
                    chars.setAttribute("required","true");

                }else{

                    action_form.action = location.pathname + "/train"
                    chars.style.display = "none";
                    char_label.style.display = "none";
                    chars.removeAttribute("required");
                }
            }
            function verifyChar(name) {
                var saveXhr = new XMLHttpRequest();
                saveXhr.onreadystatechange = function() {
                    if(saveXhr.readyState == 4 && saveXhr.status == 200) {
                      if(saveXhr.responseText === 'true'){
                            error_msg.innerHTML = "Cool bro. Go ahead"
                            error_msg.style.color = "green";
                        }else{
                            error_msg.innerHTML = "The code did not pass. Executing the user's last saved code"
                            error_msg.style.color = "red";
                        }
                    }
                };
                saveXhr.open('POST', 'verifyCode', true);
                saveXhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                saveXhr.send('char_name=' + encodeURIComponent(name));
            }
            function charCb(){
                verifyChar(chars.selectedOptions[0].value);
            }
    })();

    </script>
</body>
</html>
