<html>
<head>
    <%- include req %>
    <title>Match</title>
</head>
<body>
<%- include header %>
<% if(match.type != 'train'){ %>
<% user.chars.forEach( function(c,i) { if(c._id+'' == match.contenders[0]._id+''){ x=true; } else if(c._id+'' == match.contenders[1]._id+''){x=false;} }); } else { x=true;}%>
<div class = "container centered">
    <div id = "info1">
            <b>Played</b> <%= format_date_t(match.when) %>
    </div>

<div id="switch_attack_and_defend" style="display: none;"><% if(x){ %>true<% } else { %>false<% } %> </div>
	<div id="match1" class="match_info_container">
    	<div id = "result1" >
    	<h2> Attack </h2>
     	<% if(match.type != 'train') { %>
        	<% if(match.result[0]+'' != match.result[1]+'') { %>
            	<% if(x==true) { %>
                    <b><%= find_char_id(match.result[1], match.contenders) %> wins</b>
                <% } else { %>
                    <b><%= find_char_id(match.result[0], match.contenders) %> wins</b>
                <% } %>

        	<% } else { %>
            	<b> Winner <%= find_char_id(match.result[0], match.contenders) %> </b><br>
        	<% } %>
    	<% } %>
    	</div>
	</div>
	<div id="match2" class="match_info_container">
    	<div id = "result2" >
    	<h2> Defend </h2>
    	<% if(match.type != 'train') { %>
        	<% if(match.result[0]+'' != match.result[1]+'') { %>
            	<% if(x==false) { %>
                    <b><%= find_char_id(match.result[1], match.contenders) %> wins</b>
                <% } else { %>
                    <b><%= find_char_id(match.result[0], match.contenders) %> wins</b>
                <% } %>
        	<% } else { %>
            	<b> Winner <%= find_char_id(match.result[1], match.contenders) %> </b><br>
        	<% } %>
    	<% } %>
    	</div>
	</div>
    <div id = "replay-frame">
        <div id="match" class="global_match_info_container">
        <% if(match.type == 'train') { %>
            <h1>
                <% match.contenders.forEach(function(contender, i) { %>
                <span><%- link_to(contender.name, '/c/' + contender.name) %> </span>
                vs 
                <span style="color:red;">Swarm</span>
                <% }); %>
            </h1>
            <h3>Kill value <%= match.result %></h3>
        <% } else { %>
            <h1> 
                <% if(match.contenders.length == 2) {%>
                    <% match.contenders.forEach(function(contender, i) { %>
                        <% if(i==0) { %>
                            <span id="own_character_link"><%- link_to(match.contenders[1].name, '/c/' + match.contenders[1].name) %> </span> vs
                        <% } else { %>
                            <span  id="challenger_link"><%- link_to(match.contenders[0].name, '/c/' + match.contenders[0].name) %> </span>
                        <% } %>
                    <% }); %>
                <% } else {%>
                    <% match.contenders.forEach(function(contender, i) { %>
                        <%- link_to(contender.name, '/c/' + contender.name) %> - Player <%= i + 1 %> 
                    <% }); %>
                <% } %>
            </h1>
            <% if(match.result[0]+'' != match.result[1]+'') { %>
                <h3>Draw</h3>
            <% } else { %>
                <h3><b><%= find_char_id(match.result[1], match.contenders) %> Wins </b>(+<%= match.expr %> exp)</h3>
            <% } %>
        <% } %>
        </div>
		<center>
        <canvas id = "render-canvas" width = 800 height = 800></canvas>
		</center>
    </div>
    <div id = "replay-buttons">
        <button class = "btn sp-but" id = "next-button">next</button>
        <button class = "btn sp-but" id = "prev-button">prev</button>
        <button class = "btn sp-but" id = "pause-button">pause</button>
        <button class = "btn sp-but" id = "play-button">play</button>
        <button class = "btn sp-but" id = "reset-button">reset</button>
        <a id = "dload-link" style = "margin-left:5em;"><b>Download</b></a>
    </div>
    <script id = "map-json" type = "application/json"> <%- map %> </script>
    <script id = "replay-json" type = "application/json"> <%- JSON.stringify(match.replay) %> </script>
    <script src = "/render.js"></script>
</div></body>
</html>
