<html>
<head>
    <%- include req %>
    <title>Match</title>
</head>
<body>
<%- include header %>
<div class = "container centered">
    <div id = "info">
        <h2> Info </h2>
        <b>Played</b> <%= format_date_t(match.when) %>
    </div>
    <div id = "versus">
        <h2> Contenders </h2>
        <ul>
            <% match.contenders.forEach(function(contender, i) { %>
                <li> <%- link_to(contender.name, '/c/' + contender.name) %> - Player <%= i + 1 %> </li>
            <% }); %>
        </ul>
    </div>
    <div id = "result" >
    <h2> Result </h2>
    <% if(match.type == 'train') { %>
        Kill value <%= match.result %>
    <% } else { %>
        <% if(match.result == null) { %>
            Draw
        <% } else { %>
            <b> Winner <%= find_char_id(match.result, match.contenders) %> </b>
        <% } %>
    <% } %>
    </div>
    <div id = "replay-frame">
        <h2> Replay </h2>
        <div id = "misc-info">
            Player 1 - BLUE<br>
            Player 2 - RED
        </div>
        <canvas id = "render-canvas" width = 800 height = 800></canvas>
    </div>
    <div id = "replay-buttons">
        <button class = "btn sp-but" id = "next-button">next</button>
        <button class = "btn sp-but" id = "prev-button">prev</button>
        <button class = "btn sp-but" id = "pause-button">pause</button>
        <button class = "btn sp-but" id = "play-button">play</button>
        <button class = "btn sp-but" id = "reset-button">reset</button>
        <a id = "dload-link" style = "margin-left:5em;"><b>Download</b></a>
    </div>
    <script id = "map-json" type = "application/json"> <%- map %> </script>
    <script id = "replay-json" type = "application/json"> <%- JSON.stringify(match.replay) %> </script>
    <script src = "/render.js"></script>
</div></body>
</html>
