<html>
<head>
    <%- include req %>
    <title> User <%= other.pid %> </title>
</head>
<body>
<%- include header %>
<div id = "about">
    <%= other.pid %> stats, <br>
    score: <%= other.points %> <br>
    <%if(other.chars.length > 0) {%>
    characters:
    <ul id = "characters">
        <% other.chars.forEach(function(char) { %>
        <li>
            <%- link_to(char.type + ':' + char.name , '/c/' + char.name) %>
        </li>
        <% }) %>
        <% if (char.matches.length > 0) { %>
        recently played:
        <ul id = "recent-matches">
            <% other.recent.forEach(function(recent) { %>
            <li>
            <a href = "/m/<%= recent.name %>"> 
                <div class = "<%= recent.outcome %>">
                versus <%= recent.opponent %>
                </div>
            </a>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </ul>
    <% } %>
</div>
</body>
</html>
