<html>
<head>
    <%- include req %>
    <title> User <%= other.pid %> </title>
</head>
<body>
<%- include header %>
<div id = "about">
    <h2> about </h2>
    <%= other.pid %> stats,
    score: <%= other.points %>
    <% if(other.chars.length > 0) { %>
    <h3>characters:</h3>
    <ul id = "characters">
        <% other.chars.forEach(function(char) { %>
        <li>
            <%- link_to(char.type + ':' + char.name , '/c/' + char.name) %>
        </li>
        <% }); %>
    </ul>
    <% } %>
</div>
</body>
</html>
